<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VerryApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>81F998950BB5CCD9AFCACD48991929DA05336004</string>
				<key>dateExpires</key>
				<string>03/10/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81F998950BB5CCD9AFCACD48991929DA05336004</string>
						<key>dateExpires</key>
						<string>03/10/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>244FRME228</string>
						<key>name</key>
						<string>Dinesh Mishra</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>244FRME228.dev.appnoize.verry.ai</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:dev.verry.ai</string>
					<string>applinks:54n8hcsj-3000.inc1.devtunnels.ms</string>
					<string>applinks:localhost:3000</string>
					<string>applinks:127.0.0.1:3000</string>
					<string>applinks:192.168.68.58:3000</string>
					<string>applinks:verry.ai</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>244FRME228</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>VerryApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d75618aa-7b82-4d02-acf1-c2a1c181309b</string>
				<key>dateExpires</key>
				<string>15/10/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: dev.appnoize.verry.ai</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>244FRME228</string>
				<key>name</key>
				<string>Dinesh Mishra</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
